   .progress-outer {
       width: 96%;
       margin: 10px 2%;
       padding: 3px;
       background-color: #f4f4f4;
       border: 1px solid #dcdcdc;
       color: #fff;
       border-radius: 20px;
       text-align: center;
   }

   .progress-inner {
       min-width: 2%;
       min-height: 18px;
       white-space: nowrap;
       overflow: hidden;
       padding: 0px;
       height: 10;
       border-radius: 20px;
       background-color: #30a92e;
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       background: linear-gradient(90deg, #4caf50, #81c784);
       transition: width 0.4s ease;
   }